<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>DOAPS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" th:href="@{/assets/img/favicon.png}">
    <link th:href="@{/css/loginutil.css}" rel="stylesheet" type="text/css" href="css/loginutil.css">
    <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css" href="css/login.css">
</head>

<body style="background-color: #000000;">


<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form"  action="/members/new" th:object="${memberForm}" method="post">

                <span class="login100-form-title p-b-43">
                    DOAPS REGISTER
                </span>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" th:field="*{loginId}" name="loginId" required>
                    <span class="focus-input100"></span>
                    <span class="label-input100">ID</span>
                </div>

                <div class="wrap-input100 validate-input" >
                    <input class="input100" type="password" name="pass" th:field="*{password}" required>
                    <span class="focus-input100"></span>
                    <span class="label-input100">Password</span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" th:field="*{name}" name="loginId" required>
                    <span class="focus-input100"></span>
                    <span class="label-input100">이름</span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" th:field="*{phone}" name="loginId" required>
                    <span class="focus-input100"></span>
                    <span class="label-input100">전화번호</span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" th:field="*{age}" name="loginId" required>
                    <span class="focus-input100"></span>
                    <span class="label-input100">나이</span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" th:field="*{city}" name="loginId" required>
                    <span class="focus-input100"></span>
                    <span class="label-input100">거주 지역 (ex-수원)</span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" th:field="*{street}" name="loginId" required>
                    <span class="focus-input100"></span>
                    <span class="label-input100">동 (ex-이의동 22)</span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" th:field="*{zipcode}" name="loginId" required>
                    <span class="focus-input100"></span>
                    <span class="label-input100">우편번호 (ex-16226)</span>
                </div>

                <div class="wrap-input100 validate-input">
                    <select class="input100" th:field="*{genderStatus}" name="loginId" required>
                        <option value="MALE" selected="selected">남자</option>
                        <option value="FEMALE">여자</option>
                    </select>
                    <span class="focus-input100"></span>
                    <span class="label-input100">성별</span>
                </div>

                <div class="wrap-input100 validate-input">
                    <select class="input100" th:field="*{memberStatus}" name="loginId" required>
                        <option value="BUYER" selected="selected">일반 회원</option>
                        <option value="SELLER" >판매 회원</option>
                    </select>
                    <span class="focus-input100"></span>
                    <span class="label-input100">계정 타입</span>
                </div>


                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">
                        Login
                    </button>
                </div>

            </form>

            <div class="login100-more">
            </div>


        </div>
    </div>
</div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>