<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>DOAPS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

    <!-- STYLE CSS -->
    <link th:href="@{/css/registerMember.css}" rel="stylesheet" type="text/css" href="css/registerMember.css">
</head>

<body>

<div class="wrapper">
    <div class="inner">
        <form role="form" action="/members/new" th:object="${memberForm}" method="post">
            <h3>DOAPS REGISTER</h3>
            <div class="form-group">
                <div class="form-wrapper">
                    <label th:for="loginId">로그인 아이디</label>
                    <input type="text" th:field="*{loginId}" class="form-control" placeholder="id" required>
                </div>
                <div class="form-wrapper">
                    <label th:for="password">비밀번호</label>
                    <input type="password" th:field="*{password}" class="form-control" placeholder="password" required>
                </div>
            </div>

            <div class="form-wrapper">
                <label th:for="name">이름</label>
                <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요" required>
            </div>
            <div class="form-wrapper">
                <label th:for="phone">전화 번호</label>
                <input type="text" th:field="*{phone}" class="form-control" placeholder="전화번호를 입력하세요" required>
            </div>
            <div class="form-wrapper">
                <label th:for="phone">성별</label>
                <select th:field="*{genderStatus}" class="form-control">
                    <option value="MALE" selected="selected">남자</option>
                    <option value="FEMALE">여자</option>
                </select>
            </div>
            <div class="form-wrapper">
                <label>계정 타입</label>
                <select  th:field="*{memberStatus}" class="form-control">
                    <option value="BUYER" selected="selected">일반 회원</option>
                    <option value="SELLER" >판매 회원</option>
                </select>
            </div>
            <div class="form-wrapper">
                <label>거주 지역</label>
                <input type="text" th:field="*{city}" class="form-control" placeholder="ex-수원" required>
            </div>
            <div class="form-wrapper">
                <label>동</label>
                <input type="text" th:field="*{street}" class="form-control" placeholder="ex-이의동" required>
            </div>
            <div class="form-wrapper">
                <label>우편번호</label>
                <input type="text" th:field="*{zipcode}" class="form-control" placeholder="ex- 16226" required>
            </div>

            <button type="submit">가입 하기</button>
        </form>
    </div>
</div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>