<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DOAPS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/loginutil.css}" rel="stylesheet" type="text/css" href="css/loginutil.css">
    <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body style="background-color: #666666;">

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" th:action th:object="${loginForm}" method="post">
					<span class="login100-form-title p-b-43">
						LOGIN
					</span>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" th:field="*{loginId}" name="loginId" required>
                    <span class="focus-input100"></span>
                    <span class="label-input100">ID</span>
                </div>

                <div class="wrap-input100 validate-input" >
                    <input class="input100" type="password" name="pass" th:field="*{password}" required>
                    <span class="focus-input100"></span>
                    <span class="label-input100">Password</span>
                </div>

                <div class="flex-sb-m w-full p-t-3 p-b-32">
                    <div>
                        <a href="/members/new" class="txt1">
                            계정 만들러 가기
                        </a>
                    </div>
                </div>

                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">
                        Login
                    </button>
                </div>

            </form>

            <div class="login100-more">
            </div>


        </div>
    </div>
</div>

</body>
</html>