<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

    <!-- title -->
    <title>DOAPS</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" th:href="@{/assets/img/favicon.png}">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" th:href="@{/assets/css/all.min.css}">
    <!-- bootstrap -->
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <!-- owl carousel -->
    <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.css}">
    <!-- magnific popup -->
    <link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
    <!-- animate css -->
    <link rel="stylesheet" th:href="@{/assets/css/animate.css}">
    <!-- mean menu css -->
    <link rel="stylesheet" th:href="@{/assets/css/meanmenu.min.css}">
    <!-- main style -->
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
    <!-- responsive -->
    <link rel="stylesheet" th:href="@{/assets/css/responsive.css}">
    <!-- jquery -->
    <script th:src="@{/assets/js/jquery-1.11.3.min.js}"></script>
    <!-- bootstrap -->
    <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
    <!-- count down -->
    <script th:src="@{/assets/js/jquery.countdown.js}"></script>
    <!-- isotope -->
    <script th:src="@{/assets/js/jquery.isotope-3.0.6.min.js}"></script>
    <!-- waypoints -->
    <script th:src="@{/assets/js/waypoints.js}"></script>
    <!-- owl carousel -->
    <script th:src="@{/assets/js/owl.carousel.min.js}"></script>
    <!-- magnific popup -->
    <script th:src="@{/assets/js/jquery.magnific-popup.min.js}"></script>
    <!-- mean menu -->
    <script th:src="@{/assets/js/jquery.meanmenu.min.js}"></script>
    <!-- sticker js -->
    <script th:src="@{/assets/js/sticker.js}"></script>
    <!-- main js -->
    <script th:src="@{/assets/js/main.js}"></script>

</head>