<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>DOAPS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <script th:inline="javascript">
        window.onload = function() {
            var message = [[ ${message} ]];
            if (message) {
                alert(message);
            }
            var redirectLink = [[ ${redirectLink} ]];
            if (redirectLink) {
                location.href = redirectLink;
            } else {
                location.href = "/";
            }
        }
    </script>
</body>
</html>