<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ninodezign.com, ninodezign@gmail.com">
    <meta name="copyright" content="ninodezign.com">
    <title>DOAPS</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="images/ico/favicon.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" type="text/css" href="css/prettyPhoto.css" />
    <link rel="stylesheet" type="text/css" href="css/unslider.css" />
    <link rel="stylesheet" type="text/css" href="css/template.css" />

</head>

<body data-target="#nino-navbar" data-spy="scroll">

<!-- Header
================================================== -->
<header id="nino-header">
    <div id="nino-headerInner">
        <nav id="nino-navbar" class="navbar navbar-default" role="navigation">
            <div class="container">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nino-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">DOAPS</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="nino-menuItem pull-right">
                    <div class="collapse navbar-collapse pull-left" id="nino-navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
                            <div class="nav navbar-nav" th:if="${member.loginId}">
                                <li><a th:onclick="|location.href='@{/mypage}'|"  style="cursor:pointer;">내 페이지</a></li>
                                <li><a th:onclick="|location.href='@{/items/new}'|"  style="cursor:pointer;">상품 등록</a></li>
                                <form th:action="@{/logout}" method="post" class="nav navbar-nav">
                                    <li><button type="submit" style="cursor:pointer;">로그 아웃</button></li>
                                </form>

                            </div>
                            <div class="nav navbar-nav" th:unless="${member.loginId}">
                                <li><a th:onclick="|location.href='@{/login}'|"  style="cursor:pointer;">로그인</a></li>
                                <li><a th:onclick="|location.href='@{/members/new}'|"  style="cursor:pointer;" >회원가입</a></li>
                            </div>
                            
                        </ul>
                    </div><!-- /.navbar-collapse -->
                    <ul class="nino-iconsGroup nav navbar-nav">
                        <li><a href="#"><i class="mdi mdi-cart-outline nino-icon"></i></a></li>
                        <li><a href="#" class="nino-search"><i class="mdi mdi-magnify nino-icon"></i></a></li>
                    </ul>
                </div>
            </div><!-- /.container-fluid -->
        </nav>

        <section id="nino-slider" class="carousel slide container" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <h2 class="nino-sectionHeading">
                        <span class="nino-subHeading">Creative Template</span>
                        Welcome <br>to MoGo
                    </h2>
                    <a href="#" class="nino-btn">Learn more</a>
                </div>
                <div class="item">
                    <h2 class="nino-sectionHeading">
                        <span class="nino-subHeading">Creative Template</span>
                        Welcome <br>to MoGo
                    </h2>
                    <a href="#" class="nino-btn">Learn more</a>
                </div>
                <div class="item">
                    <h2 class="nino-sectionHeading">
                        <span class="nino-subHeading">Creative Template</span>
                        Welcome <br>to MoGo
                    </h2>
                    <a href="#" class="nino-btn">Learn more</a>
                </div>
                <div class="item">
                    <h2 class="nino-sectionHeading">
                        <span class="nino-subHeading">Creative Template</span>
                        Welcome <br>to MoGo
                    </h2>
                    <a href="#" class="nino-btn">Learn more</a>
                </div>
            </div>

            <!-- Indicators -->
            <ol class="carousel-indicators clearfix">
                <li data-target="#nino-slider" data-slide-to="0" class="active">
                    <div class="inner">
                        <span class="number">01</span> intro
                    </div>
                </li>
                <li data-target="#nino-slider" data-slide-to="1">
                    <div class="inner">
                        <span class="number">02</span> work
                    </div>
                </li>
                <li data-target="#nino-slider" data-slide-to="2">
                    <div class="inner">
                        <span class="number">03</span> about
                    </div>
                </li>
                <li data-target="#nino-slider" data-slide-to="3">
                    <div class="inner">
                        <span class="number">04</span> contacts
                    </div>
                </li>
            </ol>
        </section>
    </div>
</header><!--/#header-->


<!-- Latest Blog
   ================================================== -->
<section id="nino-latestBlog">
    <div class="container">
        <h2 class="nino-sectionHeading">
            <span class="nino-subHeading">Our stories</span>
            최근 올라온 상품
        </h2>
        <div class="sectionContent">
            <div class="row">
                <tr th:each="item : ${items}">
                <div class="col-md-4 col-sm-4">
                    <article>
                        <div class="articleThumb">
                            <a href="#" th:href="@{/items/{id}/detail (id=${item.id}) }" th:text="${item.name}"></a>
                        </div>
                        <h3 class="articleTitle"><img th:src="@{${item.getImgUrl()}}"></a></h3>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section><!--/#nino-latestBlog-->


<!-- Counting
================================================== -->
<section id="nino-counting">
    <div class="container">
        <div layout="row" class="verticalStretch">
            <div class="item">
                <div class="number">42</div>
                <div class="text">Web Design Projects</div>
            </div>
            <div class="item">
                <div class="number">123</div>
                <div class="text">happy client</div>
            </div>
            <div class="item">
                <div class="number">15</div>
                <div class="text">award winner</div>
            </div>
            <div class="item">
                <div class="number">99</div>
                <div class="text">cup of coffee</div>
            </div>
            <div class="item">
                <div class="number">24</div>
                <div class="text">members</div>
            </div>
        </div>
    </div>
</section><!--/#nino-counting-->

<!-- Services
================================================== -->
<section id="nino-services">
    <div class="container">
        <h2 class="nino-sectionHeading">
            <span class="nino-subHeading">We work with</span>
            Amazing Services
        </h2>
        <div class="sectionContent">
            <div class="fw" layout="row">
                <div class="col-md-4 col-sm-6 item ">
                    <div layout="row">
                        <i class="mdi mdi-apple-keyboard-command nino-icon fsr"></i>
                        <div>
                            <h4 class="nino-serviceTitle">Photography</h4>
                            <p>Photography is the science, art and practice of creating durable images by recording light or other electromagnetic radiation</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item ">
                    <div layout="row">
                        <i class="mdi mdi-blender nino-icon fsr"></i>
                        <div>
                            <h4 class="nino-serviceTitle">Web Design</h4>
                            <p>Web design encompasses many different skills and disciplines in the production and maintenance of websites.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item ">
                    <div layout="row">
                        <i class="mdi mdi-bookmark-plus-outline nino-icon fsr"></i>
                        <div>
                            <h4 class="nino-serviceTitle">Creativity</h4>
                            <p>Creativity is a phenomenon whereby something new and somehow valuable is formed. The created item may be intangible or a physical object.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item ">
                    <div layout="row">
                        <i class="mdi mdi-buffer nino-icon fsr"></i>
                        <div>
                            <h4 class="nino-serviceTitle">seo</h4>
                            <p>Search engine optimization (SEO) is the process of affecting the visibility of a website or a web page in a web search engine's unpaid results.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item ">
                    <div layout="row">
                        <i class="mdi mdi-desktop-mac nino-icon fsr"></i>
                        <div>
                            <h4 class="nino-serviceTitle">Css/Html</h4>
                            <p>HyperText Markup Language, commonly abbreviated as HTML, is the standard markup language used to create web pages. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item ">
                    <div layout="row">
                        <i class="mdi mdi-diamond nino-icon fsr"></i>
                        <div>
                            <h4 class="nino-serviceTitle">digital</h4>
                            <p>With digital signals, system noise, provided it is not too great, will not change the quantification whereas with signals handled using analog processing.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#nino-services-->


<!-- Map
================================================== -->
<section id="nino-map">
    <div class="container">
        <h2 class="nino-sectionHeading">
            <i class="mdi mdi-map-marker nino-icon"></i>
            <span class="text">Open map</span>
            <span class="text" style="display: none;">Close map</span>
        </h2>
        <div class="mapWrap">
            <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d79466.26604960626!2d-0.19779784176715043!3d51.50733004537892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C+UK!3m2!1d51.5073509!2d-0.1277583!5e0!3m2!1sen!2s!4v1469206441744" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</section><!--/#nino-map-->

<!-- Footer
================================================== -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="colInfo">
                    <div class="footerLogo">
                        <a href="#" >MoGo</a>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <div class="nino-followUs">
                        <div class="totalFollow"><span>15k</span> followers</div>
                        <div class="socialNetwork">
                            <span class="text">Follow Us: </span>
                            <a href="" class="nino-icon"><i class="mdi mdi-facebook"></i></a>
                            <a href="" class="nino-icon"><i class="mdi mdi-twitter"></i></a>
                            <a href="" class="nino-icon"><i class="mdi mdi-instagram"></i></a>
                            <a href="" class="nino-icon"><i class="mdi mdi-pinterest"></i></a>
                            <a href="" class="nino-icon"><i class="mdi mdi-google-plus"></i></a>
                            <a href="" class="nino-icon"><i class="mdi mdi-youtube-play"></i></a>
                            <a href="" class="nino-icon"><i class="mdi mdi-dribbble"></i></a>
                            <a href="" class="nino-icon"><i class="mdi mdi-tumblr"></i></a>
                        </div>
                    </div>
                    <form action="" class="nino-subscribeForm">
                        <div class="input-group input-group-lg">
                            <input type="email" class="form-control" placeholder="Your Email" required>
                            <span class="input-group-btn">
									<button class="btn btn-success" type="submit">Subscribe</button>
								</span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="colInfo">
                    <h3 class="nino-colHeading">Blogs</h3>
                    <ul class="listArticles">
                        <li layout="row" class="verticalCenter">
                            <a class="articleThumb fsr" href="#"><img src="images/our-blog/img-4.jpg" alt=""></a>
                            <div class="info">
                                <h3 class="articleTitle"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing</a></h3>
                                <div class="date">Jan 9, 2016</div>
                            </div>
                        </li>
                        <li layout="row" class="verticalCenter">
                            <a class="articleThumb fsr" href="#"><img src="images/our-blog/img-5.jpg" alt=""></a>
                            <div class="info">
                                <h3 class="articleTitle"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing</a></h3>
                                <div class="date">Jan 9, 2016</div>
                            </div>
                        </li>
                        <li layout="row" class="verticalCenter">
                            <a class="articleThumb fsr" href="#"><img src="images/our-blog/img-6.jpg" alt=""></a>
                            <div class="info">
                                <h3 class="articleTitle"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing</a></h3>
                                <div class="date">Jan 9, 2016</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="colInfo">
                    <h3 class="nino-colHeading">instagram</h3>
                    <div class="instagramImages clearfix">
                        <a href="#"><img src="images/instagram/img-1.jpg" alt=""></a>
                        <a href="#"><img src="images/instagram/img-2.jpg" alt=""></a>
                        <a href="#"><img src="images/instagram/img-3.jpg" alt=""></a>
                        <a href="#"><img src="images/instagram/img-4.jpg" alt=""></a>
                        <a href="#"><img src="images/instagram/img-5.jpg" alt=""></a>
                        <a href="#"><img src="images/instagram/img-6.jpg" alt=""></a>
                        <a href="#"><img src="images/instagram/img-7.jpg" alt=""></a>
                        <a href="#"><img src="images/instagram/img-8.jpg" alt=""></a>
                        <a href="#"><img src="images/instagram/img-9.jpg" alt=""></a>
                        <a href="#"><img src="images/instagram/img-3.jpg" alt=""></a>
                        <a href="#"><img src="images/instagram/img-4.jpg" alt=""></a>
                        <a href="#"><img src="images/instagram/img-5.jpg" alt=""></a>
                    </div>
                    <a href="#" class="morePhoto">View more photos</a>
                </div>
            </div>
        </div>
        <div class="nino-copyright">Copyright &copy; 2016 <a target="_blank" href="http://www.ninodezign.com/" title="Ninodezign.com - Top quality open source resources for web developer and web designer">Ninodezign.com</a>. All Rights Reserved. <br/> MoGo free PSD template by <a href="https://www.behance.net/laaqiq">Laaqiq</a></div>
    </div>
</footer><!--/#footer-->

<!-- Search Form - Display when click magnify icon in menu
================================================== -->
<form action="" id="nino-searchForm">
    <input type="text" placeholder="Search..." class="form-control nino-searchInput">
    <i class="mdi mdi-close nino-close"></i>
</form><!--/#nino-searchForm-->

<!-- Scroll to top
================================================== -->
<a href="#" id="nino-scrollToTop">Go to Top</a>

<!-- javascript -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.hoverdir.js"></script>
<script type="text/javascript" src="js/modernizr.custom.97074.js"></script>
<script type="text/javascript" src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="js/unslider-min.js"></script>
<script type="text/javascript" src="js/template.js"></script>

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!-- css3-mediaqueries.js for IE less than 9 -->
<!--[if lt IE 9]>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->

</body>
</html>