<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>DOAPS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div th:replace="fragments/bodyHeader2 :: bodyHeader2" />

<!-- hero area -->
<div class="hero-area hero-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-2 text-center">
                <div class="hero-text">
                    <div class="hero-text-tablecell">
                        <p class="subtitle">DOAPS</p>
                        <h2 style="color: white">최초 국내/해외 고추 도소매 사이트</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end hero area -->

<!-- features list section -->
<div class="list-section pt-80 pb-80">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="content">
                        <h3>빠른 배송</h3>
                        <p>1주 이내 배송</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-phone-volume"></i>
                    </div>
                    <div class="content">
                        <h3>친절 응대</h3>
                        <p>매일매일 주문 확인</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="list-box d-flex justify-content-start align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-sync"></i>
                    </div>
                    <div class="content">
                        <h3>빠른 주문 취소</h3>
                        <p>3일 이내 가능합니다.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end features list section -->

<!-- product section -->
<div class="product-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3><span class="orange-text">최신</span> 상품</h3>
                    <p>방금 등록된 새로운 상품을 만나보세요!</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center" th:each="item,index : ${items}">
                <div th:if="${index.index} < 6">
                    <div class="single-product-item">
                        <div class="product-image">
                            <a href="" th:href="@{/items/{id}/detail (id=${item.id}) }"><img th:src="@{${item.getImgUrl()}}"></a>
                        </div>
                        <h3 th:text="${item.name}"></h3>
                        판매자: <span th:text="${item.member.loginId}"></span>
                        <p class="product-price" th:text="${item.price}"></p>
                        <a href="" th:href="@{/items/{id}/detail (id=${item.id}) }" class="cart-btn"><i class="fas fa-shopping-cart"></i> 자세히 보기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end product section -->

<div class="product-section mt-150 mb-150">
    <div class="container">
        <div class="col-lg-8 offset-lg-2 text-center">
            <div class="section-title">
                <h3><span class="orange-text">통계</span> 자료</h3>
                <p>통계 자료로 구매 정보를 얻어가세요!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="single-article-section">
                    <div class="single-article-text">
                        <img src="assets/img/pricechart.png" alt="">
                        <p class="blog-meta">
                            <span><i class="fas fa-user"></i> 2020년 판매 데이터를 기준으로 작성된 통계입니다. </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar-section">
                    <div class="recent-posts">
                        <h4>가격 현황</h4>
                        <ul>
                            <li><a href="single-news.html">김장철을 앞두기 직전인 지금 구매하시는 것을 추천해드려요.</a></li>
                            <li><a href="single-news.html">12월에는 가격이 많이 오를 것으로 예상돼요.</a></li>
                        </ul>
                    </div>
                    <div class="archive-posts">
                        <h4>Top3</h4>
                        <ul>
                            <li>2월, 12월 : 12000원 (kg당)</li>
                            <li>1월 : 11000원 (kg당)</li>
                            <li>3월 : 10000원 (kg당)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br>
        <div class="row">
            <div class="col-lg-8">
                <div class="single-article-section">
                    <div class="single-article-text">
                        <img src="assets/img/itemchart.png" alt="">
                        <p class="blog-meta">
                            <span><i class="fas fa-user"></i> 2021년 10월 데이터를 기준으로 작성된 통계입니다. </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar-section">
                    <div class="recent-posts">
                        <h4>지난달 판매 현황</h4>
                        <ul>
                            <li><a href="single-news.html">김장철을 앞두고 고추가루가 가장 많이 판매되었습니다.</a></li>
                        </ul>
                    </div>
                    <div class="archive-posts">
                        <h4>Top3</h4>
                        <ul>
                            <li>고추가루 : 40.6%</li>
                            <li>고추씨 : 27.5%</li>
                            <li>건고추 : 18.8%</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer" />


</body>
</html>