<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head th:replace="fragments/header :: header">
    <title>DOAPS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<script> var tt = "상세 제품 소개"</script>
<div th:replace="fragments/bodyHeader :: bodyHeader" />


<!--PreLoader-->
<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!--PreLoader Ends-->

<!-- single product -->
<div class="single-product mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="single-product-img">
                    <a href=""><img th:src="|../../@{${item.getImgUrl()}}|"></a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="single-product-content">
                    <h2 th:text="${item.name}"></h2>
                    <h3> <span th:text="${item.price}"></span>원</h3>
<!--                    <p class="single-product-pricing"><span th:text="${item.price}"></span>원</p>-->
                    <p>맛 있는 곳에서 맛있게 재배한 맛좋은 고추 입니다^^</p>
                    <div class="single-product-form">
                        <p style="font-size: medium"><strong>품종: </strong><span th:text="${item.variety}"></span></p>
                        <p style="font-size: medium"><strong>원산지: </strong><span th:text="${item.origin}"></span></p>
                        <p class="date" style="font-size: medium"><strong>가공일: </strong><span th:text="${item.processDate}"></span></p>
                        <p class="date" style="font-size: medium"><strong>수입일: </strong><span th:text="${item.importDate}"></span></p>
                        <p class="author" style="font-size: medium"><strong>판매자: </strong><span th:text="${item.member.loginId}"></span></p>
                        <p style="font-size: medium"><strong>재고: </strong><span th:text="${item.stockQuantity}"></span>kg</p>
                        <p style="font-size: medium"><strong>맵기 정도 (SHU) : </strong><span th:text="${item.spicy}"></span>kg</p>
                    </div>
                </div>
                <br>
                <a th:href="@{/order/{itemId} (itemId=${item.id})}" class="cart-btn"><i class="fas fa-shopping-cart"></i>주문</a>
            </div>
        </div>
    </div>
</div>
<!-- end single product -->

<!-- footer -->
<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-box about-widget">
                    <h2 class="widget-title">About us</h2>
                    <p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box get-in-touch">
                    <h2 class="widget-title">Get in Touch</h2>
                    <ul>
                        <li>34/8, East Hukupara, Gifirtok, Sadan.</li>
                        <li>support@fruitkha.com</li>
                        <li>+00 111 222 3333</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box pages">
                    <h2 class="widget-title">Pages</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="services.html">Shop</a></li>
                        <li><a href="news.html">News</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box subscribe">
                    <h2 class="widget-title">Subscribe</h2>
                    <p>Subscribe to our mailing list to get the latest updates.</p>
                    <form action="index.html">
                        <input type="email" placeholder="Email">
                        <button type="submit"><i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end footer -->

<!-- copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>,  All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 text-right col-md-12">
                <div class="social-icons">
                    <ul>
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end copyright -->

<!-- jquery -->
<script src="../../assets/js/jquery-1.11.3.min.js"></script>
<!-- bootstrap -->
<script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
<!-- count down -->
<script src="../../assets/js/jquery.countdown.js"></script>
<!-- isotope -->
<script src="../../assets/js/jquery.isotope-3.0.6.min.js"></script>
<!-- waypoints -->
<script src="../../assets/js/waypoints.js"></script>
<!-- owl carousel -->
<script src="../../assets/js/owl.carousel.min.js"></script>
<!-- magnific popup -->
<script src="../../assets/js/jquery.magnific-popup.min.js"></script>
<!-- mean menu -->
<script src="../../assets/js/jquery.meanmenu.min.js"></script>
<!-- sticker js -->
<script src="../../assets/js/sticker.js"></script>
<!-- main js -->
<script src="../../assets/js/main.js"></script>

</body>
</html>