<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<script>var tt = "상품 정보 수정"</script>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<!-- check out section -->
<div class="checkout-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="checkout-accordion-wrap">
                    <div class="accordion" id="accordionExample">
                        <div class="card single-accordion">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        상품 수정
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="billing-address-form">
                                        <form th:object="${form}" method="post" id = "frm" enctype="multipart/form-data">
                                            <input type="hidden" th:field="*{id}" />
                                            <p>상품명 <input type="text" th:field="*{name}" class="form-control" placeholder="상품명을 입력하세요" ></p>
                                            <p>가격 <input type="number" th:field="*{price}" class="form-control" placeholder="가격을 입력하세요"></p>
                                            <p>수량 <input type="number" th:field="*{stockQuantity}" class="form-control" placeholder="수량을 입력하세요"></p>

                                            <p>사진 <input type="file" name="img" class="form-control"></p>

                                            <p>수입일자 <input type="month" th:field="*{importDate}" class="form-control" ></p>
                                            <p>가공일자 <input type="month" th:field="*{processDate}" class="form-control" ></p>
                                            <p>원산지 <input type="text" th:field="*{origin}" class="form-control" placeholder="원산지를 입력하세요"></p>
                                            <p>품종 <input type="text" th:field="*{variety}" class="form-control" placeholder="품종을 입력하세요"></p>
                                            <p>색깔 <input type="color" th:field="*{color}" class="form-control" ></p>
                                            <p>맵기정도 (단위 : 스코빌 지수) <input type="number" th:field="*{spicy}" class="form-control" placeholder="맵기 정도를 입력하세요"></p>


                                            <button type="submit" class="btn btn-primary">Submit</button>
<!--                                            <a href="#" onclick="document.getElementById('frm').submit();" class="boxed-btn">수정 완료</a>-->
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end check out section -->
</div>
<div th:replace="fragments/footer :: footer" />

</body>
</html>